* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}


.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* HEADER*/

header {
    width: 100%;
    height: 600px;
    background: #bc4e9c;
    /* fallback for old browsers */
    background: linear-gradient(to right, hsla(340, 95%, 50%, 0.63), hsla(317, 45%, 52%, 0.658)), url(../img/candlebanner.jpeg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(340, 95%, 50%, 0.63), hsla(317, 45%, 52%, 0.658)), url(../img/candlebanner.jpeg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.rosa {
    background: #bc4e9c;
    /* fallback for old browsers */
    background: linear-gradient(to right, hsla(340, 95%, 50%, 0.63), hsla(317, 45%, 52%, 0.658)), url(../img/candlebanner.jpeg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(340, 95%, 50%, 0.63), hsla(317, 45%, 52%, 0.658)), url(../img/candlebanner.jpeg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.celesteRosa{
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color: #fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*ABOUT US */

.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* GALERIA*/

.portafolio{
    background: #f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    /*height: 200px;*/
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(1.5);
    background: rgba(158, 27, 190, 0.74);
    transition: all .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(0);
}

/*CLIENTS*/

.cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.cards .card{
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 250px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .6);
    margin-top: 10px;
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

.nuestrosClientes{
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
/* OUR TEAM */

.about-services{
    /* background: #fff; */
    padding-bottom: 30px;
}

.servicio-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

/*FOOTER*/

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo {
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797
}

.darkmode{
    background-color: rgb(32,32,44);
    color: white;
}

.botonModoOscuro {
    letter-spacing: 2px;
    background-color: #12c2e9;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100px;
    height: 50px;
    border: none;
    color: white;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out 0.3s;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
}

.botonModoOscuro:hover {

    box-shadow: inset 300px 0 0 0 #f9e506;
    
    color: rgba(0, 0, 0, 0.6);
    
    }

    .formulario{
        width: 500px;
        max-width: 100%;
        margin: auto;
        margin-top: 30px;
        padding: 20px;
        box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
        position: relative;
        margin-bottom: 30px;
    }

    .formulario_titulo{
        text-align: center;
        margin-top: 0;
        color: rgba(0,0,0,0.7);
    }

    .formulario_input, .formulario_label, .formulario_submit{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        font-size: 1.3em;
    }

    .formulario_input{
        padding: 20px;
        background: transparent;
        border: 1px solid rgba(0,0,0,0.3);
        margin-bottom: 40px;
    }
    .formulario_label{
        padding-left: 15px;
        position: absolute;
        margin-top: -85px;
        z-index: -20;
        color: rgba(0,0,0,0.5);
        transition: all 0.2s;
    }

    .formulario_submit{
        background: rgba(0,0,0,0.7);
        color: white;
        padding: 10px 20px;
        cursor: pointer;
        border: none;
    }

    .formulario_input:focus{
        outline: 1px solid rgba(0,0,0,0.7);

    }

    .formulario_input:focus + .formulario_label{
        margin-top: -135px;
    }

    .fijar{
        margin-top: -135px;
    }

    
    /* CARRITO DE COMPRAS */

    .item {
        border: 2px solid #000;
        padding: 10px;
        border-radius: 20px;
      }
      
      .item-title {
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
      }
      
      .item-image {
        height: 300px;
        width: 100%;
      }
      
      .item-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0px 15px;
      }
      
      .item-details > .item-price {
        margin: 0;
      }
      
      /* ? SHOPPING CART */
      .shopping-cart-items {
        padding: 20px 0px;
      }
      
      .shopping-cart-header {
        border-bottom: 1px solid #ccc;
      }
      
      .shopping-cart-image {
        max-width: 80px;
        border-radius: 20px;
      }
      
      .shopping-cart-quantity-input {
        max-width: 45px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background: #eee;
        padding: 5px;
      }
      
      .shopping-cart-total {
        min-height: 96px;
      }
      